@charset "UTF-8";

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: rgb(34, 47, 53);
}

#hud {
    color: orange;
    width: 1024px;
    margin: 0 auto 2em auto;
    border: 1px solid rgba(255, 166, 0, 0.4);
    display: flex;
    justify-content: space-between;
    cursor: default;
}

#hud > div {
    display: inline-flex;
    margin: 0 1em;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #555;
    background: linear-gradient(to right, #000 319px, #555 320px, #555 322px, #000 323px);
    cursor: crosshair;
}

.pulse {
    color: white;
    animation: pulse 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hidden {
    display: none;
}

@keyframes pulse {
    0% {opacity: 1}
    50% {opacity: 0.4}
    100% {opacity: 1}
}
